
/* Section 0 ------------------------------------------------------------------------------------ */

#section-0 {
  background-color: #000324;
  color: #FFFFFF;
}

.nav-link {
  border: 2px solid #00000000;
}

.nav-link:hover {
  border: 2px solid #E5FEFF;
}

/* Section 1 ------------------------------------------------------------------------------------ */

#section-1 {
  background: center / cover url("/images/banner.jpg");
  color: #E5FEFF;
}

.banner-box {
  background-color: #000324CC;
}

/* Section 2 ------------------------------------------------------------------------------------ */

#section-2 {
  background-color: #ffffff;
  color: #1A1B26;
}

/* Section 3 ------------------------------------------------------------------------------------ */

#section-3 {
  background: center / cover url("/images/bg-1.jpg");
}

.reserve-button {
  border-radius: 0;
  background-color: #004CC7;
}

/* Section 4 ------------------------------------------------------------------------------------ */

#section-4 {
  background-color: #ffffff;
  color: #1A1B26;
}

.price-highlight {
  color: #1F51A8;
}

/* Section 5 ------------------------------------------------------------------------------------ */

#section-5 {
  background: center / cover url("/images/bg-2.jpg");
  color: #ffffff;
}

/* Section 6 ------------------------------------------------------------------------------------ */

#section-6 {
  background-color: #ffffff;
  color: #ffffff;
}

.field-label {
  color: #E5FEFF;
}

.field-input {
  border-radius: 0;
  border: 1px solid #7A90D9;
  background-color: #EBEDFC;
}

.form-button {
  border-radius: 0;
  border: 1px solid #000DC7;
  background-color: #006EDB;
}

/* Section 7 ------------------------------------------------------------------------------------ */

#section-7 {
  background-color: #000324;
  color: #E5FEFF;
}

/* Colors --------------------------------------------------------------------------------------- */

.white-0-fore {
  color: #ffffff;
}

.white-0-back {
  background-color: #ffffff;
}


.black-0-fore {
  color: #000324;
}

.black-0-back {
  background-color: #000324;
}


.white-1-fore {
  color: #E5FEFF;
}

.white-1-border {
  background-color: #E5FEFF;
}


.black-1-fore {
  color: #1A1B26;
}

.black-1-back {
  background-color: #1A1B26;
}
